
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environment
.venv/
env/
venv/
ENV/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env
.env.*

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
/build
/public/static

# VSCode
.vscode/

# macOS
.DS_Store

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

